@import "../../global.scss";

.topbar {
  width: 100%;
  height: 70px;
  color: #15023a;
  position: fixed;
  top: 0;
  background:linear-gradient(rgb(246, 247, 234) ,rgb(186, 186, 238));
  z-index: 3;
  transition: all 1s ease;
  .wrapper {
    padding: 10px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    @include sm{
      padding:10px 0px;
    }
    .left {
      display: flex;
      align-items: center;
      .logo {
        font-size: 40px;
        font-weight: 700;
        text-decoration: none;
        color: inherit;
        margin-right: 40px;
        @include sm {
            margin-right: 0;
            font-size: 20px;
        }
        img{
            width:40px;
            @include sm{
              width:40px;
            }
    }
      }
      .itemContainer {
        display: flex;
        align-items: center;
        float:right;
        @include md{
          display: none;
        }
        
      }
    }
    .iconsContainer{
        display: flex;
        position:relative;
        left: 0;
        .icon{
            margin-right: 50px;        
            @include md{
                margin-right: 10px;    
            }
        }
    }
    .right {
      @include sm{
        margin-right: 25px;
      }
      .hamburger {
        width: 31px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
        span {
          width: 100%;
          height: 3px;
          background-color: $mainColor;
          transform-origin: left;
          transition: all 2s ease;
        }
      }
    }
  }

  &.active {
    .hamburger {
      span {
        &:first-child {
          background-color: black;
          transform: rotate(45deg);
        }
        &:nth-child(2) {
          opacity: 0;
        }
        &:last-child {
          background-color: black;
          transform: rotate(-45deg);
        }
      }
    }
  }
}
