$screen-sm-min: 576px;

// Small tablets (portrait view)
$screen-md-min: 868px;

// Tablets and small desktops
$screen-lg-min: 1000px;

// Large tablets and desktops
// $screen-xl-min: 1200px;
@mixin sm {
    @media (max-width: #{$screen-sm-min}) {
        @content;
    }
 }
 
 // Medium devices
 @mixin md {
    @media (max-width: #{$screen-md-min}) {
        @content;
    }
 }
 
//  // Large devices
 @mixin lg {
    @media (max-width: #{$screen-lg-min}) {
        @content;
    }
 }
 
//  // Extra large devices
 @mixin xl {
    @media (min-width: #{$screen-xl-min}) {
        @content;
    }
 }
 @mixin rwd($screen) {
    @media (min-width: $screen+'px') {
        @content;
    }
 }
$mainColor: #15023a;

$width: 700px;
